
body {
    background-color: rgb(224, 244, 233);
}

.navbar-toggle {
    background-color: aliceblue;
}

.navbar-toggle:hover {
    background-color: rgb(221, 227, 232);
}

nav {
    background-color: rgb(30, 193, 106);
}

.formlogin {
    margin-top: 7px;
    margin-right: 45px;
}

.well {
    padding: 8px;

}

.icons {
    font-size: 25px;
}

.containercadastro {

}



