

.perfil{
    text-align: center;
}

span {
    text-align: left;
    font-style: italic;
}


.navbar-toggle {
    background-color:aliceblue;
}

#myNavbar {
    background-color: rgb(30, 193, 106);
}

li {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.container-fluid{
    margin: 10px 20px 0px 20px;
}
.well{
    padding: 10px;
}
.icons {
    font-size: 25px;
}
.footer{
    background-color: aqua;
}